body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #50C878;
}

.loader-container {
  text-align: center;
}

.loader {
  border: 16px solid #B6B6B4;
  border-top: 16px solid #728FCE;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

#loading-text {
  font-size: 18px;
  color: #333;
  display: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
