

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow+Condensed', sans-serif;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
    background-color: #DAA520;
    
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: normal;
    line-height: 1.8;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #454545;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    transition: top 0.3s;
    z-index: 1000;
   
}

.logo {
    width: 40px;
    height: 40px;
    background-color: ;
    border-radius: 50%;
    margin-right: 5;
    
}
.logo img {
    width: 40px;
    height: 40px;
    background-color: ;
    border-radius: 50%;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 0 6px;
    display: flex;
    
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color:  #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-family: 'Dancing Script', cursive;
}

nav ul li a:hover {
    color: #ddd;
}


#home {
    background-color: #f4f4f4;
    display: flex;
    margin: 2px;
}

#about {
    background-color: #ddd;
}

#services {
    background-color: #bbb;
}

#contact {
    background-color: #999;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    
}

.carousel-container {
    display: flex;
    width: 100%;
    animation: slide 15s infinite;
}

.carousel-slide {
    flex: 1 0 100%;
    max-width: 100%;
    transition: transform 0.8s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    33.33% { transform: translateX(-100%); }
    58.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    91.66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.info h3 {
    color: #ffcc00;
    font-size: 18px;
    text-align: center;
}

.zipmsi-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    text-align: center;
    background-color: ;
    border-radius: 10px 5px;
   
    
  
}

.product-item {
    background-color: ;
    padding: 10px;
    
    font-size: 18px;
    font-weight: Verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    border:1px solid #837E7C;
    border-radius: 20px 5px;
}

.product-item img {
    max-width: 50%;
    margin-bottom: 5px;
}
 #scrollyy{
      width: 97%;
      height: auto;
      overflow-x: scroll;
      overflow-y: none;
      margin: 5px;
      white-space: nowrap;
      border-radius:10px;    
        }
              .container {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }
        .produk  {
            background: red;
            width: 45%;
            max-width: 400px;
            border-radius: 8px;
            padding: 5px;
            margin-bottom: 10px;
            text-align: center;
            list-style: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
            p1 {
          color: #fff;
          
        }
        
  .produk img {
    border-radius: 10px;
  }
@media (max-width: 10000px) {
    .carousel {
        max-width: auto;
        height: 80%;
    }
}
@media (max-width: 768px) {
    .zipmsi-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 480px) {
    .zipmsi-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .product-item img {
        max-width: auto;
    }
}

.info-section {
    padding: 10px;
    text-align: center;
}

.info-section h2 {
    margin-bottom: 20px;
    font-size: 15px;
}

.info-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-images img {
    max-width: 45%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .carousel-item {
        flex-direction: column;
    }

    .carousel-item img {
        max-width: auto;
        margin-bottom: 10px;
    }

    .zipmsi-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .info-images {
        flex-direction: column;
    }

    .info-images img {
        max-width: 90%;
    }
}


